<%- include("./partials/header") %>

<div class="container">
    <div class="text-center">
        <h1 class="display-2">POLYPOL</h1>
        <h5 class="text-muted"> - Build your hotel empire -</h5>

        <hr>
        <% if(!currentUser) { %>
            <a href="/register" class="btn btn-lg btn-outline-dark" id="btn-start">Start Now</a>
            <br>
            <canvas id="landingChart"></canvas>
        <%} else {%>
            <%if(currentUser.dark){%>
                <a href="/users/<%=currentUser._id%>" class="btn btn-lg btn-outline-light">Overview</a>
                <br>
                <a href="/users/<%=currentUser._id%>/branches" class="btn btn-lg btn-outline-light landing-button">Branches</a>
                <br>
                <a href="/market" class="btn btn-lg btn-outline-light landing-button">Market</a>
            <%}else{%>
                <a href="/users/<%=currentUser._id%>" class="btn btn-lg btn-outline-dark">Overview</a>
                <br>
                <a href="/users/<%=currentUser._id%>/branches" class="btn btn-lg btn-outline-dark landing-button">Branches</a>
                <br>
                <a href="/market" class="btn btn-lg btn-outline-dark landing-button">Market</a>
            <%}%>
            <hr>
            <br>
            <%if(currentUser.invitesRemaining == 'undefined' || currentUser.invitesRemaining > 0){%>
                <h3>Invite players to get $500.000! You can invite <%=currentUser.invitesRemaining%> more players.</h3>
                <br>
                <h5 class="text-muted">Just tell them to add your <b>username</b> when registering</h5>
            <%}%>
        <%}%>
    </div>
</div>

<script>
    var chart = document.getElementById('landingChart').getContext('2d');
    if(chart){
        Chart.defaults.global.defaultFontFamily = "'Raleway', 'sans-serif'";
        Chart.defaults.global.defaultFontSize = 14;
        Chart.defaults.global.title.fontSize = 18;
        var showChart = new Chart(chart, {
            type: 'polarArea',
            data: {
                labels: ['Zurich', 'New York City', 'Amsterdam', 'Vancouver', 'São Paulo'],
                datasets: [{
                    label: 'Profit',
                    backgroundColor: ['#3a243b','#775878', '#280A29', '#5C3E5D', '#351636'],
                    data: [5.0, 4.5, 5.2, 8.3, 3.1]
                }]
            },
            options: {
                title:{
                    display: true,
                    text: 'Top branches ($1,000)'
                },
                maintainAspectRatio: false
            }

        });
    }
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<script>
    var cashNavbar = document.getElementById("cashNavbar");

    var formatter = new Intl.NumberFormat('en-US',{
      style: 'currency',
      currency: 'USD',
    });

    var user = <%-currentUserJSON%>;

    if(user){
      var countdown = '';

      var x = setInterval(function(){
        var now = new Date().getTime();
        var secondsNow = Math.floor((now / 1000) % 60);
        var minutesNow = Math.floor((now / 1000 / 60) % 60);
        var updateTime = now - minutesNow * 60 - secondsNow + 3600;
        
        var distance = updateTime - now;

        var minutes = 59 - minutesNow;
        var seconds = 59 - secondsNow;

        if(seconds < 10){
          seconds = "0" + seconds;
        }

        if(distance > 0){
          countdown = `${minutes}:${seconds}`;
        }else{
          countdown = 'Updating...'
        }

        var cash = user.cash;
        cashNavbar.innerText = formatter.format(cash) + ' - ' + countdown;
      }, 1000);
    }    

  </script>

</body>
</html>